/.antigravity
/.gemini
/.node_repl_history
/1
/AppData
/Contacts
/Dark Orbit
/Desktop
/Documents
/Downloads
/Favorites
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{f4ff8915-d4fe-11f0-9ae2-d7d09326af7b}.TM.blf
/NTUSER.DAT{f4ff8915-d4fe-11f0-9ae2-d7d09326af7b}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{f4ff8915-d4fe-11f0-9ae2-d7d09326af7b}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/Saved Games
/Searches
/sitem
/stream-vision
/streaming-app
/Videos
/Local Settings
/Application Data
/Cookies
/Recent
/Belgelerim
/PrintHood
/SendTo
/Templates
/Start Menu
/NetHood# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
